@import "~bootstrap";

.login-jumbotron {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .form-inline {
    flex: 1 1 100%;
    justify-content: center;
  }
}

.sort-orders {
  font-size: small;
}
